
<div class="card md-4">
    <div class="card-img-wrapper">
      
       <ul class="list-inline recipe-icons animate text.canter">
<li class="list-inline-item">
<button class="btn btn-primary" routerLink="/recipe/{{recipe.recipeId}}" style="width: 180px; height: 50px;" >
      Check out details
    </button>
</li>
       </ul>
    

    </div>
   
    <div class="card-body p-1">
        <h6 class="card-title text-center mb-1">
            {{recipe.recipeName}}
        </h6>
      
    </div>
</div>