<div *ngIf="recipes" class="card-body p-1">
    <h1 class="card-title text-center mb-1">
      Recipe name:   {{recipes.name}}
    </h1>
    <div class="card-body">
      <h3 class="text"> Description: </h3>
      <h4 class="text">{{recipes.description}}</h4>
 
    <h3 class="text"> Total price: </h3>
    <h4 class="text">{{recipes.totalPrice}} BAM</h4>

    <h3>Ingredients</h3>
    <div>
       <table>
         <tr>
          <th>Ingredient name</th>
          <th>Amount</th>
          <th>Measure</th>
          <th>Cost</th>
         </tr>
        <tr  *ngFor="let ingred of ingredients"> 
         <td>{{ingred.ingredient.name}}</td>
         <td>{{ingred.amount}}</td>
         <td>{{ingred.measure}}</td>
         <td>{{ingred.price}} BAM </td>
 </tr>
  </table>
    </div>
  </div>
 <button class="btn btn-primary" routerLink="/ingredientAdd/{{recipeId}}" >
   Add new ingredient
</button>
</div>